{% extends 'base.html.twig' %}

{% block title %}{{ joke.title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        {% if joke.photo %}
            <img src="{{ asset('uploads/jokes/' ~ joke.photo) }}" class="img-fluid" alt="{{ joke.title }}">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h1>{{ joke.title }}</h1>
        <p class="lead">{{ joke.bodyText }}</p>
        {% if joke.price %}
            <p class="h4">{{ joke.price }} €</p>
        {% endif %}
        <a href="{{ path('cart_add', {id: joke.id}) }}" class="btn btn-success">Ajouter au panier</a>
    </div>
</div>
{% endblock %}
